<div class="container">
  <div class="login-form">
    <form action="#">
      <p><strong>Login</strong></p>
      <div>
        <label for="email">
          E-mail:
        </label>
        <input type="email" name="email" id="email" placeholder="Enter e-mail" required autofocus />
      </div>
        <label for="password">
          Password:
        </label>
        <input type="password" id="password" placeholder="Enter password" required />
      <div class="login-form-bottom">
        <a href="#">Forgot password?</a>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
