.container {
  margin: 10px auto;
  justify-content: space-between;
  flex-direction: column;
}

.edit-button-div {
  margin: 3% 10px 3% 50px;
  width: fit-content;
}

.noDataMessage{
  margin: 5% 0 38%;
}

.delete-button-div {
  margin: 3% 15px 3% 20px;
  width: fit-content;
}

.description-and-buttons button {
  color: white;
  padding: 5px 15px;
  background-color: lightskyblue;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  width: 130%;
}

.description-and-buttons button:hover {
  cursor: pointer;
  background-color: deepskyblue;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.description-and-buttons {
  display: flex;
  justify-content: space-between;
}

.coursesList {
  background-color: white;
  padding: 30px 15px;
  border-radius: 5px;
}

.noDataMessage {
  text-align: center;
}

.card-title {
  font-size: 150%;
  font-weight: 700;
  padding-bottom: 10px;
}

.courseInfo {
  display: flex;
  justify-content: space-between;
}

.course-creationDate {
  color: lightgrey;
  margin: 0 270px 0 15px;
}

.course-duration {
  color: lightgrey;
  margin: 0 10px 0 0;
}

.course-description {
  line-height: 25px;
}

.load-more a {
  display: block;
  margin: 2px auto;
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.star{
  color: gold;
  margin-left: 10px;
}

.changeBackground{
  background-color: burlywood;
}
