.rows{
  margin: 0 100px 20px;
  justify-content: center;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.course-duration{
  margin-left: 30px;
}

.test2{
  line-height: 50px;
}

.coursesList{
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  margin: 0;
}

.course-duration{
  color:lightgrey;
}
.course-time{
  color:lightgrey;
}
.card-title{
  font-weight: bolder;
  padding-bottom: 10px;
}
.load-more  a{
  display: block;
  margin: 2px auto;
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.loads{
  margin: 0 90px;
}

.edit-button{
  color:white;
}

.delete-button{
  color:white;
}
