.coursesList{
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.cards{
  margin: 0px 95px 15px;
}

.icons{
  color:lightgrey;
}
.course-duration{
  color:lightgrey;
  margin: 15px 10px;
}
.course-time{
  color:lightgrey;
  text-align: left;
  margin: 15px 10px;
}

.times-info{
  margin: 20px 270px 0 0;
}

.edit-button{
  margin: 0 5px 20px 0;
  width: 100px;
  color:white;
}

.delete-button{
  margin: 0 0px;
  width: 120px;
  color:white;
}

.card-title{
  padding-top: 15px;
}
