header {
  position: fixed;
  top: 0;
  margin:0;
  width: 100%;
  height: 50px;
  background-color: slategrey;
  color: lightgrey;
  text-align: right;
  font-size: medium;
}

.user-span{
  position: fixed;
  top: 0;
  right: 200px;
  margin-top: 15px;
}

.logoff-span{
  position: fixed;
  top: 0;
  right: 60px;
  margin-top: 15px;
}

#logOffButton{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: lightgrey;
}

.video-icon{

}

.user-icon{

}

.logoff-icon{

}
