<div class="app">

  <div *appIsAuthenticated="!isUserAuthenticated">
    <app-header></app-header>
    <app-section></app-section>
    <app-courses-page
      [isCoursesListNotEmpty]="isCoursesListNotEmpty"
      [coursesList]="coursesList"
      (deleteCourse)="deleteCourse($event)"
      (editCourse)="editCourse($event)"
    >
    </app-courses-page>
    <app-footer></app-footer>
  </div>

  <div *appIsAuthenticated="isUserAuthenticated">
    <app-header></app-header>
    <app-login-page
      (authenticationEvent)="authenticationRequest($event)"
    >
    </app-login-page>
    <app-footer></app-footer>
  </div>
</div>






