<div class="container">
  <form (submit)="addCourse()" class="new-course-form" ngNativeValidate>
    <p><strong>New course</strong></p>
    <div class="title to-row">
      <label nameFor="courseTitle">Title:</label> <small>*required</small>
    </div>
    <div>
      <input type="text" name="courseTitle" id="courseTitle" placeholder="Text input" autocomplete="on" [(ngModel)]="courseTitle" required />
    </div>
    <div class="description to-row">
      <label for="courseDescription">Description:</label> <small>*required</small>
    </div>
    <div>
      <textarea placeholder="Add description" name="courseDescription" id="courseDescription" rows="5"
                cols="20" [(ngModel)]="courseDescription" required></textarea>
    </div>
    <div class="duration">
      <label nameFor="duration">Duration:</label> <small>*required</small>
    </div>
    <div class="duration-block">
      <input type="number" name="duration" id="duration" placeholder="minutes" autocomplete="on" [(ngModel)]="duration" required /> <span *ngIf="duration">{{duration| duration}}</span>
    </div>
    <div class="date">
      <label nameFor="date">Date:</label> <small>*required</small>
    </div>
    <input type="date" name="date" id="date" placeholder="MM/DD/YYYY" autocomplete="on" [(ngModel)]="date" required />
    <div class="authors">
      <label nameFor="authors">Authors:</label> <small>*required</small>
    </div>
    <div>
      <input type="text" id="authors" placeholder="Start typing" autocomplete="on" required />
    </div>
    <div class="button-section">
      <button type="reset" id="cancelButton" (click)="goToMainPageWithOutSaving()"><strong>Cancel</strong></button>
      <button type="submit" id="saveButton"><strong>Save</strong></button>
    </div>
  </form>
</div>


