<h6 class="coursesTitle">{{coursesTitle}}</h6>
<div class="search-bar">
  <br/>
  <div class="row">
    <div class="col-6">
      <form (submit)="printLog()" id="searchForm">
        <div class="row">
          <div class="col-5">
            <input
              type="search"
              name="searchValue"
              placeholder="Text to search"
              class="form-control"
              autofocus
              [(ngModel)]="searchValue"
            />
          </div>
          <div class="col-3">
            <input type="submit" value="Search" class="form-control btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col add-course-bar">
    <div class="add-button-row">
      <button type="button" class="btn btn-info addCourse-button mr-5" (click)="printInConsoleLog('Add course button')">
        <i
          class="fa-solid fa-plus"></i> Add course
      </button>
      <br/>
    </div>
  </div>
  <br/>
</div>




