.container {
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}

.coursesTitle {
  font-size: 120%;
  font-weight: bold;
}

.button-container {
  text-align: right;
}

.addCourse-button {
  color: white;
  padding: 5px 15px;
  background-color: lightskyblue;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.addCourse-button:hover {
  cursor: pointer;
  background-color: deepskyblue;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.submit-search-button {
  color: white;
  font-size: 100%;
  width: 10%;
  margin-left: 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  background-color: mediumseagreen;
}

.submit-search-button:hover {
  cursor: pointer;
  background-color: green;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.input-field {
  width: 20%;
  padding: 10px;
  border-color: lightgrey;
}

