#searchForm{
  width: 600px;
  display: block;
  margin: 0px 90px;
  background-color: whitesmoke;
  padding: 10px;
}
.search-bar{
  background-color: whitesmoke;
}

.add-course-bar{
  background-color: whitesmoke;
}
.addCourse-button{
  position: relative;
  color: white;
  display: block;
  right: -1570px;
}
