<div class="search-bar">
  <br/>
  <form (submit)="printLog()" id="searchForm">
    <div class="row">
      <div class="col-9">
        <input type="search" placeholder="Text to search" class="form-control" (change)="setSearchValue($any($event).target.value)"  autofocus  />
      </div>

      <div class="col-3">
        <input type="submit" value="Search" class="form-control btn btn-primary"/>
      </div>
    </div>
  </form>
</div>
<div class="add-course-bar">
  <button type="button" class="btn btn-info addCourse-button" (click)="printInConsoleLog('Add course button')"><i class="fa-solid fa-plus"></i> Add course</button>
  <br/>
</div>

