#searchForm{
  width: 600px;
  display: block;
  margin: 0px 90px;
  background-color: whitesmoke;
  padding: 10px;
}
.search-bar{
  background-color: whitesmoke;
}

.add-course-bar{
  background-color: whitesmoke;
}
.addCourse-button{
  position: relative;
  color: white;
  display: block;
  right: -1570px;
}

.coursesTitle{
  margin: 60px -100px 5px 85px;
  padding: 15px;
  background-color: white;
  width: 100%;
  height: 50px;
}
